* {
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Manrope', sans-serif;
}

a {
    text-decoration: none;
    color: #F9F9F9;
}
